.app {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  max-width: 280px;
  gap: 32px;
}

.chart-box {
  width: 280px;
}

.donut__stroke {
  transition: 0.9s;
}

.color-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.color-list ul li {
  display: flex;
  gap: 16px;
  justify-content: space-between;
}

button {
  align-self: center;
  padding: 8px 12px;
  border: 1px solid #363447;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.87);
  border-radius: 4px;
  cursor: pointer;
  transition: 0.4s;
}

.color-list ul li button:hover {
  background-color: #363447;
}

.field--color {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field--color input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border: none;
  height: 50px;
  width: 50px;
  background-color: transparent;
}

.field--color input::-webkit-color-swatch {
  border-radius: 50%;
}
.field--color input::-moz-color-swatch {
  border-radius: 50%;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brand {
  margin-top: 64px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.brand img {
  height: 32px;
}

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 100%;
  resize: vertical;
  padding: 8px;
  border: 1px solid #363447;
  border-radius: 4px;
}
